

html, body, #root, .App {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#9a83e3, #2a254a);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-height: 800px) {
  html, body, #root, .App {
    min-height: 900px;
  }
}

svg {
  height: 30px;
  cursor: pointer;
}

.fonts {
  color: white;
}
