/* .footer {
    color: white; 
    padding: 3px
} */

.footerdivider {
    height: 50px;
}

.footer {
    color: white; 
    position: absolute;
    /* margin-top: auto;  */
    /* margin-bottom: 0;  */
    bottom: 0;
    width: 100%; 
}

